<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>State | New State</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>


    <ion-item>
      <!-- Use ion-input to capture the state name -->
      <ion-label position="stacked"></ion-label>
      <ion-input type="text" placeholder="Enter State name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addState()">Add</ion-button>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-card>
</ion-content>
