<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      States
    </ion-list-header>
  
    <ion-item *ngFor="let state of stateList">
      <ion-label>
        <!-- Display the state name instead of ID -->
        <h2>{{ state.name }}</h2>
        <!--<h4><b>{{ state.id }}</b></h4>-->
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="view(state.id)">View</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
