<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-item *ngFor="let student of stateList">
    <ion-list>
      <h2>{{state.id}}</h2>
      <h4><b>{{state.Name}}</b></h4>
    </ion-list>
    <div style="position: absolute; right: 0px; bottom: 0px; ">
      <ion-button fill="clear" (click)="view(state.id)">View</ion-button>
    </div>
  </ion-item>

  <ion-item></ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" >
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
